:root {
  --bg-color: #FAFBFD;
  --card-bg-color: #FFFFFF;
  --main-text-color: #1C1D24;
  --secondary-text-color: #A1A3B3;
  /*--accent-color: #d0dee8;*/
  /*--hover-color: #99B8CC;*/
  --accent-color: #ff7a59;
  --hover-color: #F04318;
  --shadow-color: rgba(76,76,77,0.15);
}

body {
  color: var(--main-text-color);
  background-color: var(--bg-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .875rem;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

h6 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  line-height: normal;
}

.p-6 {
  padding: 4rem!important;
}

.mt-6 {
  margin-top: 7rem!important;
}

.w-95 {
  width: 95%;
}

.hidden {
  display: none;
}

.info {
  font-size: 0.7rem;
  color: var(--secondary-text-color);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding:  0;
  min-width: 230px;
  /*border-right: 1px solid var(--main-text-color);*/
  background-color: var(--card-bg-color);
  -webkit-box-shadow: 0 0 30px 0 var(--shadow-color);
  box-shadow: 0 0 30px 0 var(--shadow-color);
}

.sidebar h3 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 3rem 0;
  padding: 1rem;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
  /*padding-top: .5rem;*/
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  color: var(--secondary-text-color);
  font-weight: 500;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link .feather {
  margin-right: 15px;
}

.sidebar .nav-link.active {
  color: var(--main-text-color);
  border-right: 5px solid var(--accent-color);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.folders {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.folders::-webkit-scrollbar {
  display: none;
}

.folder-item {
  background-color: var(--card-bg-color);
  min-height: 90px;
  min-width: 200px;
  margin-right: 6rem;
}

.icon {
  color: var(--card-bg-color);
  background-color: var(--accent-color);
}

.sessions {
  border-collapse: separate;
  border-spacing: 0 1.5rem;
}
/*.session {*/
/*    background-color: var(--card-bg-color);*/
/*}*/

/*.session .cell {*/
/*    padding: 1rem;*/
/*}*/

.option-button {
  padding-left: 1.7rem!important;
  width: 60px;
  color: var(--card-bg-color);
  background-color: var(--accent-color);
}

.table td {
  padding: 1rem;
}
.table tr th, .table tr td{
  border: none;
}

.table thead th {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.table tbody tr {
  background-color: var(--card-bg-color);
}

td a {
  color: var(--main-text-color);
}

td a:hover {
  color: var(--main-text-color);
}


.btn {
  border-radius: 0;
  font-size: 1rem;
  padding: 1rem 2.5rem;
  transition: 0.3s;
  /*font-weight: 700;*/
}

.btn-main {
  color: var(--card-bg-color);
  background-color: var(--accent-color);
}

.btn-main:hover {
  background-color: var(--hover-color);
}

.btn-upload {
  color: var(--accent-color);
  background-color: var(--card-bg-color);
  border: 1px solid var(--accent-color);
}

.btn-upload:hover {
  color: var(--card-bg-color);
  background-color: var(--accent-color);
}

form {
  width: 70%;
}

label {
  font-size: 0.8rem;
  color: var(--secondary-text-color);
}
label.upload {
  display: block;
}

label.btn-upload i {
  margin-right: 0.8rem;
}

label.btn-upload {
  text-align: left;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form-group {
  margin-bottom: 3rem;
}

[type=submit] {
  font-weight: 700;
  color: var(--main-text-color);
  text-transform: uppercase;
  border: 1px solid var(--main-text-color);
}

a.folder-item {
  color: var(--main-text-color);
}

a.folder-item:hover {
  color: var(--main-text-color);
}

h2.folder {
  color: var(--secondary-text-color);
}

.folder .icon {
  color: var(--main-text-color);
  background-color: transparent;
}

.folder .option-button {
  color: var(--main-text-color);
  background-color: transparent;
}

.card {
  margin-bottom: 3rem;
  border-radius: 0;
  border: none;
  background-color: var(--card-bg-color);
}

.card-body {
  padding: 1rem;
}

.btn-edit {
  padding: 1rem;
  text-align: center;
  color: var(--card-bg-color);
  background-color: var(--accent-color);
}